@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #333333;
  --primary-blue: #0059B3;
  --secondary-blue: #003B91;
  --light-gray: #F3F4F6;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary-blue);
  --color-secondary: var(--secondary-blue);
  --color-light-gray: var(--light-gray);
  
  --font-sans: Arial, Helvetica, sans-serif;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}
